---
  interface Props {
    href: string;
    label: string;
  }

  const { href, label } = Astro.props;
---

<a href={href} aria-label={label} class="py-1 px-2 rounded-2xl hover:bg-tertiary hover:text-white transition-all">
  <slot></slot>
</a>
