---

---

<section>
  <h2 class="text-md mb-3 opacity-60">.about me</h2>
  <p>
    I'm a software developer, optimist, and community builder. I work at <a
      class="font-bold text-secondary/70 hover:underline"
      href="www.linkedin.com/vercel"
      target="_blank">@n39</a
    >, where I build scalable solutions for a large number of users, involving
    frontend and backend technologies.
  </p>
</section>
