---

---

<section>
  <h2 class="text-md opacity-60">.about me</h2>
  <p>
    I'm a sofwatre developer, optimist, and community builder. I work at <span
      class="font-bold">@n39</span
    >, where I build scalable solutions for a large number of users, involving
    frontend and backend technologies.
  </p>
</section>
