---
import ExperienceItem from '../components/ExperienceItem.astro'

const EXPERIENCE = [
  {
    date: 'Now',
    title: 'Software Developer',
    company: 'n39',
    description:
      'Building scalable solutions for a large number of users, involving frontend and backend technologies.',
  },
  {
    date: 'Septiembre 2022',
    title: 'Principal Frontend Engineer',
    company: 'Adevinta Spain',
    description:
      'Responsable de la plataforma, componentes y utilidades para la creaci칩n y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantaci칩n de medidas de integraci칩n continua y despliegue con A/B testing en m치s de 15 equipos.',
  },
]
---

<section>
  <h2 class="text-md opacity-60">.experience</h2>

  <ol class="relative mt-4">
    {
      EXPERIENCE.map((experience) => (
        <li class="">
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>
</section>
