---
import ExperienceItem from '../components/ExperienceItem.astro'

const EXPERIENCE = [
  {
    date: 'Now',
    title: 'Software Developer',
    company: 'n39',
    description:
      'I have excelled in maintaining various service types across different regions, ensuring seamless and efficient operations in all locations. I led development teams to ensure uninterrupted expansion and scaling, optimizing performance and effectively managing resources.',
  },
  {
    date: 'September 2022',
    title: 'Scripting Developer',
    company: 'cfx.re freelance',
    description:
      'I`ve excelled in scaling servers for major gaming communities, leading development teams to ensure seamless expansion. I optimized performance, managed resources, and crafted innovative solutions to surpass player expectations.',
  },
]
---

<section>
  <h2 class="text-md mb-4 opacity-60">.experience</h2>
  <ol class="relative mt-4">
    {
      EXPERIENCE.map((experience) => (
        <li>
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>
</section>
