---
const year = new Date().getFullYear()
---

<section class="mb-4 mt-12 flex justify-between opacity-60">
  <p class="text-sm">© {year} German Fernandez. All rights not reserved.</p>

  <aside>
    <ul class="flex gap-4 text-sm">
      <li>
        <a href="/#about" aria-label={'About me section'}>.about me </a>
      </li>
      <li>
        <a
          href="mailto:germanfernandez0306@gmail.com"
          aria-label={'Contact redirect mail button'}
          target="_blank"
          >.contact
        </a>
      </li>
    </ul>
  </aside>
</section>
