---
interface Props {
  title: string
}

const { title } = Astro.props

import { ViewTransitions } from 'astro:transitions'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Software Developer" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body class={`bg-[#121212] text-secondary font-sans`}>
    <slot />

    <style is:global>
      @font-face {
        font-family: 'Geist';
        src: url('/fonts/GeistVF.ttf') format('truetype');
        font-weight: 100 900;
      }

      html {
        scroll-behavior: smooth;
      }

      body {
        font-family: 'Geist', monospace;
        font-weight: 400;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: 'Geist', monospace;
        font-weight: 400;
      }

      p {
        font-family: 'Geist', monospace;
        font-weight: 400;
      }

      section {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 24px;
      }

      ::selection {
        background-color: #2b2b2b;
        color: #fff;
      }
    </style>
  </body>
</html>
